---
---

@import "{{ site.theme }}";

ul.nav2 {
	    -webkit-text-size-adjust: 100%;
    font: 14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
    list-style-image: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #666;
}